<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarCare Cloud</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">
    <h2>CarCare Cloud</h2>

    {% if session.get('user_id') %}
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
    {% else %}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    {% endif %}
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>
